/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp 1 &kp 2 &kp 3
                &kp 4 &kp 5 &kp 6
                &kp 7 &kp 8 &kp mo 1
            >;
        };

        bt_layer {
            bindings = <
                &BT_SEL 0 &BT_SEL 1 &BT_SEL 3
                &none     &none     &none
                &none     &none     &bootloader
            
            >;
        };
    };
};